<nav class="navbar bg-body-tertiary justify-content-between">
    <div class="container">
        <a href="#">Favorites</a>
        <h1 class="navbar-brand">Blog App</h1>
        <a href="#">Create post</a>
    </div>
</nav>