<nav class="navbar justify-content-between">
    <div class="container">
        <a href="/my-posts">My posts</a>
        <a href="/">
            <h1 class="navbar-brand">Blog App</h1>
        </a>
        <a href="/create">Create post</a>
    </div>
</nav>