<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main class="container post-page my-4">
        <h2 class="my-3">Post title</h2>
        <div class="post-info">
            <span>Author</span>
            <span>Date</span>
        </div>
        <img class="my-3" src="#" alt="post-image">
        <p class="my-3">Content - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore excepturi vero repellendus placeat dolorum quibusdam consectetur aliquam aperiam maiores ipsa temporibus commodi facilis, ad necessitatibus id quasi, reiciendis modi in. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequatur repellendus dolorum modi voluptatem porro fuga, quasi optio, excepturi nisi facere qui laboriosam beatae expedita, numquam sapiente nulla voluptas error.</p>
        <div class="interactions">
            <span>Like</span>
        </div>
        <div class="comments">
            <div class="comment">
                <p></p>
            </div>
        </div>
    </main>
</body>
</html>