@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@400;700;900&display=swap');

:root{
    --color-black: #1a1a1a;
    --color-black-hover: #000000;
    --color-gray: #f7f7f7;
    --color-gray-hover: #eaeaea;
    --color-gray-selected: #c7c7c7;
    --color-gray-selected-hover: #9d9d9d;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.container{
    max-width: 720px;
}

.navbar{
    background-color: var(--color-gray);
}

.navbar a{
    color: black;
    text-decoration: none;
}

.filters ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .8rem;
}

.search-bar{
    display: inline-block;
    margin-left: auto;
}

.post{
    background-color: var(--color-gray);
    border-radius: .4rem;
    transition: all 0.3s;
}

.post-info{
    height: 8rem;
}

.post-info p{
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow-y: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-info img{
    height: 100%;
    object-fit: contain;
}

.post-content{
    font-size: .9rem;
}

.post-features{
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
}

.post-feature{
    display: flex;
    gap: 1rem;
}

.post:hover{
    transform: scale(1.02);
}

.pagination{
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin: 1rem 0;
}

/* --- POST FORM --- */
.post-form .post-image{
    border-radius: .4rem;
    height: 160px;
    object-fit: contain;
}

.no-post-image{
    background-color: var(--color-gray-hover);
    border-radius: .4rem;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

/* --- POST PAGE --- */

.post-page img{
    display: inline-block;
    max-height: 24rem;
    width: 100%;
    object-fit: contain;
}

/* --- MY POSTS --- */

.my-post{
    background-color: var(--color-gray);
    border-radius: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.my-post h3{
    font-size: 1.2rem;
}

.my-post-options{
    display: flex;
    gap: 1rem;
}

/* --- GENERAL --- */

.hidden{
    display: none;
}

.button{
    border: 0;
    border-radius: .4rem;
    color: black;
    font-size: .85rem;
    text-decoration: none;
    transition: all 0.3s;
    padding: .4rem .8rem;
}

.primary{
    background-color: var(--color-black);
    color: white;
}

.primary:hover{
    background-color: var(--color-black-hover);
}

.secondary{
    background-color: var(--color-gray);
}

.secondary:hover{
    background-color: var(--color-gray-hover);
}

.selected {
    background-color: var(--color-gray-selected);
}

.selected:hover {
    background-color: var(--color-gray-selected-hover);
}

footer{
    background-color: var(--color-gray);
    font-size: .8rem;
    text-align: center;
}

.create-post-form textarea{
    resize: none;
}

@media screen and (max-width: 720px){
    .container{
        --bs-gutter-x: 2.5rem;
    }
}

/* RESPONSIVE */

@media screen and (max-width: 600px){
    .post-info {
        height: auto;
    }
}